.navbarsito {
    font-family: 'Century Gothic';
    background-color: black;
}

.cuadro {
    background: #020C27;
    width: 411px;
    height: 328px;
    left: 51px;
}

.texto_cuadro {
    font-family: 'Century Gothic';
    color: white;
}

.primer_cuadro_login {
    background-color: #020C27;
}

.input_login {
    width: 318px;
    height: 36px;
    left: 318px;
    top: 248px;
    background: #FCFCFC;
    border: 1px solid #444444;
    border-radius: 5px;
}

.texto_primer_cuadro {
    width: 137px;
    height: 88px;
    left: 95px;
    top: 186px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.cuadro_card {
    background-color: #F8F8F8;
}

.img_cuadro {
    width: 204px;
    height: 141px;
    left: 54px;
}