<app-navbar></app-navbar>
<div class="col-12">
    <div class="d-flex h-100 text-center bg-welcome">
        <div class="d-flex w-100 h-100 p-3 bg-dark bg-opacity-50 mx-auto 5 flex-column">
            <header class="mb-auto text-welcome">
                <h1 class=""><span>BIT 2023</span></h1>
            </header>
            <main class="px-3 text-welcome">
                <h2 class="display-1">#Impusa tu realidad</h2>
                <hr class="hr" />
                <div class="col-12">
                    <div class="row text-welcome">
                        <div class="col-5" align="center">
                            <p>Marzo 24 y 25, 2023, 09:05 AM</p>
                        </div>
                        <div class="col-2" align="center">
                            <span>|</span>
                        </div>
                        <div class="col-5" align="center">
                            <p>Casa Don Luis Jardín Boutique, Oaxaca</p>
                        </div>
                    </div>
                </div>
                <a [routerLink]="['/registro']" class="btn_gral btn_primary btn btn-lg">Registrarse</a>
            </main>
        </div>
    </div>
    <div class="col-12 p-5">
        <div class="row text-normal" align="center">
            <div class="col-4">
                <h1>2,000+</h1>
                <p>ASISTENTES</p>
            </div>
            <div class="col-4">
                <h1>20+</h1>
                <p>CONFERENCISTAS</p>
            </div>
            <div class="col-4">
                <h1>2</h1>
                <p>DÍAS</p>
            </div>
        </div>
        <div class="col-12 p-5 text-card">
            <h2 align="center" class="py-5">Business, Innovation & Technology</h2>
            <div class="col-12">
                <div class="row" align="center">
                    <div class="col-4">
                        <div class="card" style="height: 24rem">
                            <div class="card-body">
                                <h1><strong>¿Qué es el BIT MX?</strong></h1>
                                <p class="card-text">
                                    Es la plataforma que busca desarrollar, impulsar e
                                    intercambiar conocimiento sobre nuevos negocios, innovación y
                                    tecnología para enfrentar rápida y positivamente los retos que
                                    el mundo nos presenta.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card" style="height: 24rem">
                            <img src="./assets/img/ejemplo-congreso.jpg" style="height: 24rem" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card" style="height: 24rem">
                            <div class="card-body">
                                <h1><strong>PRESENTADO POR</strong></h1>
                                <img src="./assets/img/halcones.png" style="height: 8rem" />
                                <img src="./assets/img/halcones.png" style="height: 8rem" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-4">
                        <div class="card" style="height: 24rem">
                            <img src="./assets/img/ejemplo-congreso.jpg" style="height: 24rem" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card" style="height: 24rem">
                            <div class="card-body">
                                <h1 align="center">
                                    <strong>¿QUIÉNES ASISTIRÁN AL BIT MX?</strong>
                                </h1>
                                <p class="card-text">
                                    <i class="fa-regular fa-star"></i> Estudiantes universitarios
                                </p>
                                <p class="card-text">
                                    <i class="fa-regular fa-star"></i> Emprendedores en potencia
                                </p>
                                <p class="card-text">
                                    <i class="fa-regular fa-star"></i> Aliados estratégicos
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card" style="height: 24rem">
                            <img src="./assets/img/ejemplo-congreso.jpg" style="height: 24rem" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 p-5 text-planes">
            <h2 align="center">NUESTROS PLANES</h2>
            <h1 align="center">Obtén tus entradas</h1>
            <div class="row">
                <div class="p-5 col-6" align="center">
                    <div class="cardNew">
                        <div class="card-header text-center titulo-card1">
                            <h3>Estudiantes</h3>
                        </div>
                        <div class="card-bodyNew">
                            <div class="mb-3 row justify-content-md-center" align="center">
                                <div class="col-12 text-card">
                                    <h1>$680.mxn</h1>
                                    <hr />
                                    <p>Acceso al evento por zoom</p>
                                    <hr />
                                    <p>
                                        Acceso presencial (aforo limitado previo registro por día
                                    </p>
                                    <hr />
                                    <p>1 BIT Kit</p>
                                    <hr /><br>
                                    <a [routerLink]="['/registro']"
                                        class="btn_gral btn_primary btn btn-lg">Registrarse</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-5 col-6" align="center">
                    <div class="cardNew">
                        <div class="card-header text-center titulo-card2">
                            <h3>EXTERNO</h3>
                        </div>
                        <div class="card-bodyNew">
                            <div class="mb-3 row justify-content-md-center" align="center">
                                <div class="col-12 text-card">
                                    <h1>$980.mxn</h1>
                                    <hr />
                                    <p>Acceso al evento por zoom</p>
                                    <hr />
                                    <p>
                                        Acceso presencial (aforo limitado previo registro por día
                                    </p>
                                    <hr />
                                    <p>1 BIT Kit</p>
                                    <hr /><br>
                                    <a [routerLink]="['/registro']"
                                        class="btn_gral btn_primary btn btn-lg">Registrarse</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-12 p-5 text-planes">
            <h2 align="center">PATROCINADORES</h2>
            <div class="row" align="center">
                <div class="col-3"><img src="./assets/img/halcones.png" style="height: 8rem" /></div>
                <div class="col-3"><img src="./assets/img/halcones.png" style="height: 8rem" /></div>
                <div class="col-3"><img src="./assets/img/halcones.png" style="height: 8rem" /></div>
                <div class="col-3"><img src="./assets/img/halcones.png" style="height: 8rem" /></div>
            </div>
            <div class="row" align="center">
                <div class="col-3"><img src="./assets/img/halcones.png" style="height: 8rem" /></div>
                <div class="col-3"><img src="./assets/img/halcones.png" style="height: 8rem" /></div>
                <div class="col-3"><img src="./assets/img/halcones.png" style="height: 8rem" /></div>
                <div class="col-3"><img src="./assets/img/halcones.png" style="height: 8rem" /></div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>