<nav class="navbar bg-dark">
    <div class="container-fluid">
      <img src="" alt="bitmx" />
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link navarsito text-light" href="#">Planes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navarsito text-light" href="#">Talleres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navarsito text-light" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navarsito text-light" routerLink="/registro">Registro</a>
        </li>
      </ul>
    </div>
  </nav>