<nav class="navbar color-bit">
  <div class="container-fluid">
    <img src="./assets/img/logo.png" alt="bitmx" class="bitmx" />
    <ul class="nav justify-content-end">
      <li class="nav-item my-2 px-4 px-xxl-4">
        <a class="nav-link" [routerLink]="['/planes']">Planes</a>
      </li>
      <li class="nav-item my-2 px-4 px-xxl-4">
        <a class="nav-link" [routerLink]="['/talleres']">Talleres</a>
      </li>
      <li class="nav-item my-2 px-4 px-xxl-4">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item my-2 px-4 px-xxl-4">
        <a class="nav-link" [routerLink]="['/registro']">Registro</a>
      </li>
    </ul>
  </div>
</nav>
