<footer class="footer mt-auto pt-5 px-3 color-bit">
    <div class="container-fluid">
        <div class="row g-5">
            <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4">
                <nav class="d-flex flex-column gap-2 biografia">
                    <h4 class="display-4"><img src="./assets/img/logo.png" alt="" /></h4>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <a href="" class="my-0 py-2 btn_link">
                                    <img src="./assets/svg/facebook-2020-2-1.svg" alt="" width="48" height="48" />
                                </a>
                            </div>
                            <div class="col-6">
                                <a style="color: transparent"></a>
                                <a href="" class="my-0 py-2 btn_link">
                                    <img src="./assets/svg/instagram-5.svg" alt="" width="48" height="48" />
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4">
                <nav class="d-flex flex-column gap-2 biografia">
                    <h4 class="display-4">Redes Sociales</h4>
                </nav>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4">
                <div class="biografia">
                    <h4 class="display-4">Contacto</h4>
                    <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem,
                        consectetur!</small>
                    <form class="row g-3 my-2">
                        <div class="col-12 p-2 my-1">
                            <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" />
                            <div id="emailHelp" class="form-text">
                                We'll never share your email with anyone else.
                            </div>
                        </div>
                        <div class="col-12 p-2 my-1">
                            <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="d-grid d-flex justify-content-end">
                            <a href="" class="btn_gral btn_primary">Envar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>