<app-navbar-client></app-navbar-client>
<div class="container-fuid py-5">
    <div class="p-5 col-10 offset-1">
        <div class="col-10" align="center">
            <div class="row py-3">
                <div class="col-4 titulo-completar">Informacion Personal</div>
                <div class="col-3 titulo-completar"><hr></div>
                <div class="col-1 titulo-completar active">Pago</div>
                <div class="col-3 titulo-completar"><hr></div>
                <div class="col-1 titulo-completar">Talleres</div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h3 class="fw-bold">Método de pago</h3>
            </div>
            <div class="card-body" align="center">
                <h3 class="subtitulo">Realiza tu pago descargando el siguiente archivo.</h3>
                <form>
                    <p>
                      Sube un archivo:
                      <input type="file" name="archivosubido">
                    </p>
                    <button (click)="file()" class="btn btn-primary" type="submit" value="Enviar datos">Enviar</button>
                  </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>